// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Copyright (C) 2022 Roman Blöchliger <roman.bloechliger@schmid-elektronik.ch>
 */

#include "stm32mp153a-qsmp-1530-obc.dtsi"
/ {
	model = "QSMP-1530 module on OBC";
    
	leds {
        compatible = "gpio-leds";

        can1 {
            linux,default-trigger = "none";
            gpios = <&gpioa 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* Pin 77: CAN1-ON */
            default-state = "off";
        };

        can2 {
            linux,default-trigger = "none";
            gpios = <&gpiod 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* Pin 76: CAN2-ON */
            default-state = "on";
        };

        relay_on {
            linux,default-trigger = "none";
            default-state = "off";
            gpios = <&gpioi 6 (GPIO_ACTIVE_LOW | GPIO_PULL_DOWN)>; /* Pin 75: !RELAY-ON */
        };

        on24 {
            linux,default-trigger = "none";
            gpios = <&gpiog 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* Pin 70: +24V-ON */
            default-state = "off";
        };

        on5 {
            linux,default-trigger = "none";
            gpios = <&gpioi 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* Pin 69: +5V-ON */
            default-state = "off";
        };

        charge_off {
            linux,default-trigger = "none";
            gpios = <&gpioe 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* Pin 63: !CHG_OFF */
            default-state = "off";
        };

        reduce_charge_current {
            linux,default-trigger = "none";
            gpios = <&gpioh 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* Pin 66: REDCHGCURR */
            default-state = "on";
        };

        uart2_driver_enable {
            linux,default-trigger = "none";
            gpios = <&gpioi 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* Pin 67: UART2_DE */
            default-state = "off";
        };

        uart2_receiver_enable {
            linux,default-trigger = "none";
            gpios = <&gpioi 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* Pin 68: !UART2_RE */
            default-state = "off";
        };
    };

    reg_2v5: regulator-2v5 {
        compatible = "regulator-fixed";
        regulator-name = "2v5";
        regulator-min-microvolt = <2500000>;
        regulator-max-microvolt = <2500000>;
        regulator-always-on;
    };


};

&i2c6 {
    ds3231: ds3231@68 {
        compatible = "maxim,ds3231";
        reg = <0x68>;
        #clock-cells = <1>;
        status = "okay";
    };
};

// spi pins are used as adc input
&spi6 {
	status = "disabled";
};

&adc {
	vdd-supply = <&reg_3v3>;
	vdda-supply = <&reg_3v3>;
	// "somebody" writes reg_3v3 to vref
	// so set vrefbuf (2.5V)
	vref-supply = <&vrefbuf>;
	status = "okay";
};

&adc2 {
    // ADC2, Channel 3 (PIN 98), Channel 19 (Pin 100)
    st,adc-channels = <3 19>;
    st,min-sample-time-nsecs = <5000>;
};
