// SPDX-License-Identifier: GPL-2.0 OR BSD-3-Clause
/*
 * Copyright (C) 2022 Roman Blöchliger <roman.bloechliger@schmid-elektronik.ch>
 */


#include "stm32mp153a-qsmp-1530-obc.dtsi"

/ {
	model = "QSMP-1530 module on OBC";

	leds {
        compatible = "gpio-leds";

        green {
            linux,default-trigger = "none";
            gpios = <&gpioa 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; /* Pin 77 */
            default-state = "on";
        };

        red {
            linux,default-trigger = "none";
            gpios = <&gpiod 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; /* Pin 76 */
            default-state = "on";
        };

        blue {
            linux,default-trigger = "none";
            default-state = "on";
            gpios = <&gpioi 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; /* Pin 75 */
        };

        yellow {
            linux,default-trigger = "none";
            gpios = <&gpioi 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>; /* Pin 74 */
            default-state = "on";
        };

    };

};

&i2c6 {
    pcf8563: pcf8563@51 {
        compatible = "nxp,pcf8563";
        reg = <0x51>;
        #clock-cells = <0>;
        status = "okay";
    };
};

&sdmmc1 {
    #address-cells = <1>;
    #size-cells = <0>;
        pinctrl-names = "default", "opendrain", "sleep";
        pinctrl-0 = <&qsmp_sdmmc1_pins>;
        pinctrl-1 = <&qsmp_sdmmc1_opendrain_pins>;
        pinctrl-2 = <&qsmp_sdmmc1_sleep_pins>;
        bus-width = <4>;
        vmmc-supply = <&reg_3v3>;
        //cd-gpios = <&gpiob 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        //no-1-8-v;
        st,neg-edge;
        non-removable;
        status = "okay";
        brcmf: wifi@1 {
            reg = <1>;
            compatible = "brcm,bcm4329-fmac";
            laird,regdomain = "ETSI";
            brcm,sd_sgentry_align = /bits/ 16 <32>;
            status = "okay";
        };
};

// spi pins are used as adc input
&spi6 {
        status = "disabled";
};

&adc {
        vdd-supply = <&reg_3v3>;
        vdda-supply = <&reg_3v3>;
        // "somebody" writes reg_3v3 to vref
        // so set vrefbuf (2.5V)
        vref-supply = <&vrefbuf>;
        status = "okay";
};

&adc2 {
    // ADC2, Channel 3 (PIN 98)
    st,adc-channels = <3>;
    st,min-sample-time-nsecs = <5000>;
};

