[team]
AllEnergyJM3=0
LFM=1
VOLT=0
AllEnergyGFM=0
LfmScale=6000
LfmCorrectionFactor=0.000902
LfmDensity=0.7403
category=ICE
EngyAlwceSensor=ALL
JM2=0
TeamNo=902
ConfOk=1
JM3=0
subcategory=Gasoline
AllEnergyLFM=1
GFM=0
AllEnergyJM2=1000

[mobile]
pin=
apn=gprs.swisscom.ch

[obc]
ip_conf_active=https://manager.sem-app.com/ws/obcmgr/config/57
ip_log=rsync://obcrsync.sem-app.com/obc_rsync
required_fw=200224_1020
ip_conf_time=1619699280
ip_conf_0=https://manager.sem-app.com/ws/obcmgr/config
ip_update=https://obcupdate.sem-app.com/update/
use_wifi=1

[mqtt]
health_interval=30000
key_name=
port_broker=8883
root_ca_name=/app/conf/ca.crt
ip_broker=activemq.sem-app.com
user=obc
cert_name=
data_interval=1000
root_ca_path=
pw=TLS$arefulsec

[manufacturer]
ExternalSerialNo_device=57
DataVersion=5
ExternalSerialNo_remote=57
InternalSerialNo_device=57
InternalSerialNo_remote=57

